
.icon-home:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */